@model Mostlylucid.Models.Blog.PostListViewModel
<div class="pt-2" id="content">

    <!-- Top Pagination -->
    <div class="flex items-center justify-center w-full mb-4 print:!hidden">
        <paging
            hx-boost="true"
            class="shrink-0"
            hx-target="#content"
            hx-push-url="false"
            hx-swap="show:none"
            hx-headers='{"pagerequest": "true"}'
            model="@Model">
        </paging>
    </div>

    <text>
    @foreach (var post in Model.Data)
    {
        <partial name="_ListPost" model="post"/>
    }
    </text>

    <!-- Bottom Pagination -->
    <div class="flex items-center justify-center w-full mt-4 mb-2 print:!hidden">
        <paging
            hx-boost="true"
            class="shrink-0"
            hx-target="#content"
            hx-push-url="false"
            hx-swap="show:none"
            hx-headers='{"pagerequest": "true"}'
            model="@Model">
        </paging>
    </div>
</div>