@model Mostlylucid.Models.Blog.PostListViewModel
<div class="pt-2" id="content">

   
    <div class="inline-flex w-full items-center justify-center print:!hidden">
 
        <paging 
            hx-boost="true"
            class="mt-4"
                    hx-target="#content"
                    hx-push-url="false"
                    hx-swap="show:none"
                    hx-headers='{"pagerequest": "true"}'
                    model="@Model">
            </paging>
   </div>
    @if (ViewBag.Categories != null)
    {
        <div class="mb-8 mt-6" x-data="{ openCategories: false }">
            <div class="collapse collapse-arrow border border-neutral-400 dark:border-neutral-600 rounded-lg bg-base-100 dark:bg-gray-800">
                <input 
                    type="checkbox" 
                    x-model="openCategories"
                    class="absolute"
                />
            
                <!-- Added flex and items-center to collapse-title -->
                <div class="collapse-title p-0 min-h-0 text-lg font-medium text-base-content flex items-center">
                    <div class="px-5 py-2 bg-neutral-500 bg-opacity-10 rounded-lg font-body text-primary dark:text-white w-full cursor-pointer"
                         x-on:click="openCategories = !openCategories">
                        Categories
                    </div>
                </div>
            
                <div class="collapse-content flex flex-wrap pl-5 pr-5 bg-gray-200 dark:bg-gray-700">
                    <div class="pt-2 pb-2 gap-2 flex flex-wrap">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <partial name="_Category" model="category"/>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    
    <text>
    @foreach (var post in Model.Data)
    {
        <partial name="_ListPost" model="post"/>
    }
    </text>
</div>